.demo{
    background-color: rgb(193, 221, 230);
}
.mydiv{
    background-color: lightgray;
    width: 100%;
    height: 200px;
}
p{
    color: rgb(20, 161, 79);
}
h3{
    font-size: 30px;
    font-family: serif;
    color: rgb(8, 66, 15);
}
.p1{
    color: orangered;
}
#div1{
    background-color: red;
}
div{
    background-color: teal;
}
a{
    background-color: violet;
}
.d1{
    background-color: yellow;
}